<ion-view view-title="Steamworks">
	<ion-content class="padding">
    <div class="row">
      <div class="col col-top col-100 text-center">
        <h1>AUTO</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-100 text-center">
        <h4 >Fuel</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-20 text-left">
                Fuel High
              </div>
              <div class="col col-80 text-right">
                <button class="button button-positive"
                  ng-click="autoCtrl.decreaseHighFuel()">
                  <i class="icon ion-arrow-down-a"></i>
                </button>
                <span ng-bind="autoCtrl.matchProperties.highFuel"></span>
                <button class="button button-positive"
                  ng-click="autoCtrl.increaseHighFuel()">
                  <i class="icon ion-arrow-up-a"></i>
                </button>
              </div>
            </div>
          </li>

          <li class="item">
            <div class="row">
              <div class="col col-20 text-left">
                Fuel Low
              </div>
              <div class="col col-80 text-right">
                <button class="button button-positive"
                  ng-click="autoCtrl.decreaseLowFuel()">
                  <i class="icon ion-arrow-down-a"></i>
                </button>
                <span ng-bind="autoCtrl.matchProperties.lowFuel"></span>
                <button class="button button-positive"
                  ng-click="autoCtrl.increaseLowFuel()">
                  <i class="icon ion-arrow-up-a"></i>
                </button>
              </div>
            </div>
          </li>

          <li class="item item-toggle">
             Climb
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="autoCtrl.matchProperties.baseLine">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-70 text-left">
                Gears
              </div>
              <div class="col col-30 text-right">
                <button class="button button-positive"
                  ng-click="autoCtrl.decreaseGears()">
                  <i class="icon ion-arrow-down-a"></i>
                </button>
                <span ng-bind="autoCtrl.matchProperties.gears"></span>
                <button class="button button-positive"
                  ng-click="autoCtrl.increaseGears()">
                  <i class="icon ion-arrow-up-a"></i>
                </button>
              </div>
            </div>
          </li>
            
        <li>
            <div class="item item-button">
				<div class="text-center">
					<button class="button button-positive"
							ng-click="autoCtrl.submit()">
					To Teleop!
				</button>
				</div>
			</div>
            
        </li>
        </ul>
      </div>
    </div>
	</ion-content>
</ion-view>