<ion-view view-title="Team Number: {{autoCtrl.match.teamNumber}}">
	<ion-content class="padding">
  <div class="row">
      <div class="col text-center">
        <h1>Sandstorm</h1>
      </div>
    </div>
            <li class="item">
              <div class="row">
                <div class="col col-100">
                  <label class="item item-input item-select">
                    <div class="input-label">Starting Position</div>
                      <select
                        ng-model="autoCtrl.matchProperties.placement"
                       
                        ng-options="position as position.label for position in autoCtrl.startingPositions track by position.id">
                      </select>
                  </label>
                </div>
              </div>
          </li>
         
          </li>
            <li class="item">
              <div class="row">
                <div class="col col-100">
                  <label class="item item-input item-select">
                    <div class="input-label">Starting Level</div>
                      <select
                        ng-model="autoCtrl.matchProperties.level"
                       
                        ng-options="level as level.label for level in autoCtrl.startLevel track by level.id">
                      </select>
                  </label>
                </div>
              </div>
          </li>
            <li class="item">
              <div class="row">
                <div class="col col-100">
                  <label class="item item-input item-select">
                    <div class="input-label">Pre-load</div>
                      <select
                        ng-model="autoCtrl.matchProperties.preLoadType"
                       
                        ng-options="preload as preload.label for preload in autoCtrl.preLoadType track by preload.id">
                      </select>
                  </label>
                </div>
              </div>
          </li>
           </li>
            <li class="item">
              <div class="row">
                <div class="col col-100">
                  <label class="item item-input item-select">
                    <div class="input-label">Auto or Manual</div>
                      <select
                        ng-model="autoCtrl.matchProperties.sandstorm"
                       
                        ng-options="sandstorm as sandstorm.label for sandstorm in autoCtrl.sandStormType track by sandstorm.id">
                      </select>
                  </label>
                </div>
              </div>
              </li>

         <li class="item item-toggle">
             Cross HAB line
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="autoCtrl.matchProperties.autoRun">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        <br />
        <br />
           <table width="100%">
  <tr>
    <th align="center"><strong style="font-size: 20px">Rocket</strong></th>
    <th align="center"><strong style="font-size: 20px">Cargo Station</strong></th>
  
  </tr>
  <!-- Rocket -->
  <tr>
    <td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
            <li class="item">
            <div class="row">
           <div class="col text-center">
                <b>Level 1</b>
            </div>
            <div class="col text-center">
                <b>Level 2</b>
            </div>
            <div class="col text-center">
                <b>Level 3</b>
            </div>
          </div>
        </li>

        <li class="item">
            <div class="row">
             
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketCargoOne1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketCargoOne"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketCargoOne1()">
                    +1
                  </button>
                </div>
                  
                  <div class="col col-100 text-center">
                   <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketCargoTwo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketCargoTwo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketCargoTwo1()">
                    +1
                  </button>
                </div>

                       <div class="col col-100 text-center">
                   <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketCargoThree1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketCargoThree"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketCargoThree1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
        <!-- </li>
      </div> -->
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li> 
          <li class="item">
            <div class="row">
           <div class="col text-center">
                <b>Level 1</b>
              </div> 
            <div class="col text-center">
                <b>Level 2</b>
              </div> 
            <div class="col text-center">
                <b>Level 3</b>
              </div> 
             </div>
            </li> 

          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketHatchOne1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketHatchOne"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketHatchOne1()">
                    +1
                  </button>
              </div>

              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketHatchTwo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketHatchTwo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketHatchTwo1()">
                    +1
                  </button>
              </div>

              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketHatchThree1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketHatchThree"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketHatchThree1()">
                    +1
                  </button>
              </div>
            </div>
          </li>

  </ul>
</div> 
</div>
</td>
<!-- Cargo Station -->
 <td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseStationCargo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.stationCargo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseStationCargo1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseStationHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.stationHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseStationHatch1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>
</td>
</tr>
</table>

<h2 align="center">Items Dropped</h2>
<div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseCargoDropped1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.cargoDropped"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseCargoDropped1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class = "col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseHatchDropped1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.hatchDropped"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseHatchDropped1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>

                  
      
          
          
        
         
        <li>
          <div class="item item-button">
           <div class="text-center">
             <button class="button button-positive"
                ng-disabled="!autoCtrl.validStartingPos()"
                ng-click="autoCtrl.submit()">
               To Teleop!
             </button>
            </div>
          </div>            
        </li>
        </ul>
      </div>
    </div>
</ion-content>
</ion-view>