<ion-view view-title="Team Number: {{teleOpCtrl.match.teamNumber}}">
  <ion-content class="padding">
  <div class="row">
      <div class="col text-center">
        <h1>TeleOp</h1>
      </div>
    </div>
    <br>
  </br>
<table width="100%">
    <th align="center"><strong style="font-size: 20px">Rocket</strong></td>
<table width="100%">
  <tr>
   <!--  <th align="center"><strong style="font-size: 20px">Rocket</strong></td> -->
    <th align="center"><strong style="font-size: 20px">Cargo Station</strong></td>
    <th align="center"><strong style="font-size: 20px">Loading Station</strong></td>
  </tr>
   <tr>

<!-- Rocket -->
      <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
           <li class="item">
            <div class="row">
           <div class="col text-center">
                <b>Level 1</b>
            </div>
            <div class="col text-center">
                <b>Level 2</b>
            </div>
            <div class="col text-center">
                <b>Level 3</b>
            </div> 
          </div 
        </li>

        <li class="item">
            <div class="row">
             
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketCargoOne1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketCargoOne"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketCargoOne1()">
                    +1
                  </button>
                </div>
                  
                  <div class="col col-100 text-center">
                   <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketCargoOne1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketCargoOne"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketCargoOne1()">
                    +1
                  </button>
                </div>

                       <div class="col col-100 text-center">
                   <button class="button button-assertive"
                    ng-click="autoCtrl.decreaseRocketCargoOne1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="autoCtrl.matchProperties.rocketCargoOne"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="autoCtrl.increaseRocketCargoOne1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseRocketHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.rocketHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseRocketHatch1()">
                    +1
                  </button>
              </div>

              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseRocketHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.rocketHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseRocketHatch1()">
                    +1
                  </button>
              </div>

              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseRocketHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.rocketHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseRocketHatch1()">
                    +1
                  </button>
              </div>

            </div>
          </li>
  </ul>
</div> 
</div>
<!-- </td> -->
<!-- Cargo Station -->
<td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseStationCargo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.stationCargo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseStationCargo1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseStationHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.stationHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseStationHatch1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>
</td>
<!-- Loading Station -->
<td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseLoadingCargo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.loadingCargo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseLoadingCargo1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseLoadingHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.loadingHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseLoadingHatch1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>
</td>

</tr>
</table>

<h2 align="center">Items Dropped</h2>
<div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseCargoDropped1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.cargoDropped"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseCargoDropped1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class = "col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseHatchDropped1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.hatchDropped"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseHatchDropped1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>


<div class="col col-100">
          <li class="item item-toggle">
             Are they actively defending?
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.defending">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 

            <li class="item item-toggle">
             Did the robot disable?
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.breakdown">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 

              <li class="item">
                <div class="row">
                  <div class="col col-100">
                    <label class="item item-input item-select">
                      <div class="input-label">What level of the rocket can they reach?</div>
                        <select
                          ng-model="teleOpCtrl.matchParts.rocketLevel"
                          ng-options="rocketLevel as rocketLevel.label for rocketLevel in teleOpCtrl.rocketLevels track by rocketLevel.id">
                        </select>
                    </label>
                  </div>
                </div>
              </li>   
            <li class="item">
                <div class="row">
                  <div class="col col-100">
                    <label class="item item-input item-select">
                      <div class="input-label">Climb Level</div>
                        <select
                          ng-model="teleOpCtrl.matchParts.climbLevel"
                          ng-options="climbLevel as climbLevel.label for climbLevel in teleOpCtrl.climbLevels track by climbLevel.id">
                        </select>
                    </label>
                  </div>
                </div>
              </li> 
            </div>
        <div class="col col-100 text-center">
          <br />
<button class="button button-positive"
                    ng-click="teleOpCtrl.submit()">
          To Results!
        </button>
      </div>

        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>