<ion-view view-title="Steamworks">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-top col-100 text-center">
        <h1>TELEOP</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-100 text-center">
        <h4>Fuel</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-20 text-left">
                Fuel High
              </div>
              <div class="col col-80 text-right">
                <button class="button button-positive"
                  ng-click="teleOpCtrl.decreaseHighFuel()">
                  <i class="icon ion-arrow-down-a"></i>
                </button>
                <span ng-bind="teleOpCtrl.matchParts.highFuel"></span>
                <button class="button button-positive"
                  ng-click="teleOpCtrl.increaseHighFuel()">
                  <i class="icon ion-arrow-up-a"></i>
                </button>
              </div>
            </div>
          </li>

          <li class="item">
            <div class="row">
              <div class="col col-20 text-left">
                Fuel Low
              </div>
              <div class="col col-80 text-right">
                <button class="button button-positive"
                  ng-click="teleOpCtrl.decreaseLowFuel()">
                  <i class="icon ion-arrow-down-a"></i>
                </button>
                <span ng-bind="teleOpCtrl.matchParts.lowFuel"></span>
                <button class="button button-positive"
                  ng-click="teleOpCtrl.increaseLowFuel()">
                  <i class="icon ion-arrow-up-a"></i>
                </button>
              </div>
            </div>
          </li>
          
          <li class="item item-toggle">
             Baseline
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.baseLine">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
            
             <li>
            <div class="item item-button">
				<div class="text-center">
					<button class="button button-positive"
							ng-click="teleOpCtrl.submit()">
					To Final!
				</button>
				</div>
			</div>
            
        </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>