<ion-view view-title="Team Number: {{teleOpCtrl.match.teamNumber}}">
  <ion-content class="padding">
  <div class="row">
      <div class="col text-center">
        <h1>TeleOp</h1>
      </div>
    </div>


<table width="100%">
  <tr>
    <th align="center"><strong style="font-size: 20px">Rocket</strong></td>
    <th align="center"><strong style="font-size: 20px">Cargo Station</strong></td>
    <th align="center"><strong style="font-size: 20px">Loading Station</strong></td>
  </tr>
<!--   Rocket -->
  <tr>
    <td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseRocketCargo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.rocketCargo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseRocketCargo1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseRocketHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.rocketHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseRocketHatch1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>
</td>
<!-- Cargo Station -->
<td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseStationCargo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.stationCargo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseStationCargo1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseStationHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.stationHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseStationHatch1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>
</td>
<!-- Loading Station -->
<td>
    <div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseLoadingCargo1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.loadingCargo"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseLoadingCargo1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseLoadingHatch1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.loadingHatch"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseLoadingHatch1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>
</td>

</tr>
</table>

<h2 align="center">Items Dropped</h2>
<div class="row">
      <div class="col">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Cargo</h2>
              </div>
            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseSwitchCube1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.switchCube"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseSwitchCube1()">
                    1
                  </button>
              </div>
            </div>
          </li>
            
            <li class="item">
            <div class="row">
              <div class = "col col-100 text-center">
                <h2>Hatch Panels</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseVaultCube1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.vaultCube"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseVaultCube1()">
                    1
                  </button>
              </div>
            </div>
          </li>
  </ul>
</div> 
</div>


<div class="col col-100">
          <li class="item item-toggle">
             Are they actively defending?
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.climbAttempt">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 

            <li class="item item-toggle">
             Did the robot disable?
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.levitate">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 

              <li class="item">
                <div class="row">
                  <div class="col col-100">
                    <label class="item item-input item-select">
                      <div class="input-label">What level of the rocket can they reach?</div>
                        <select
                          ng-model="teleOpCtrl.matchParts.playStyle"
                          ng-options="playStyle as playStyle.label for playStyle in teleOpCtrl.playStyles track by playStyle.id">
                        </select>
                    </label>
                  </div>
                </div>
              </li>   
            <li class="item">
                <div class="row">
                  <div class="col col-100">
                    <label class="item item-input item-select">
                      <div class="input-label">Climb Level</div>
                        <select
                          ng-model="teleOpCtrl.matchParts.foul"
                          ng-options="foul as foul.label for foul in teleOpCtrl.fouls track by foul.id">
                        </select>
                    </label>
                  </div>
                </div>
              </li> 
            </div>
        <div class="col col-100 text-center">
          <br />
<button class="button button-positive"
                    ng-click="teleOpCtrl.submit()">
          To Results!
        </button>
      </div>

        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>